@import "tailwindcss";

/** FUENTES **/
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* Copperplate CC – Display */
@font-face {
    font-family: 'Copperplate CC';
    src: url('/fonts/CopperplateCC-Heavy.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Copperplate CC';
    src: url('/fonts/CopperplateCC-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* =========================
    TAILWIND THEME
========================= */

@theme {
  /* Fuente por defecto (font-sans) */
    --default-font-family: 'Montserrat', ui-sans-serif, system-ui;

    /* Fuente display (títulos / marca) */
    --font-display: 'Copperplate CC', serif;

    /* Colores */
    --color-azul-marino: #0c018e;
    --color-azul-oscuro: #0a0a5e;
    --color-negro: #0c0c0c;
    --color-marron-tierra: #604e36;
    --color-gris: #d3d3d3;
    --color-crema-natural: #f3ede4;

    --icon-size: 18rem;
}

@utility laMary-icon {
    content: '';
    background-image: url("../assets/sinFondo/NEGRO - 1.png");
    background-size: var(--icon-size);
    background-position: center;
    width: var(--icon-size);
    height: 12rem;
    display:block;
    margin-inline:auto;
}

.reveal-card {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal-card.reveal-active {
	opacity: 1;
	transform: translateY(0);
}

.nav-link.nav-active::after {
	width: 100%;
}

.nav-link.nav-active {
	color: white; /* o podés usar azul-marino si querés */
}


.nav-link::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background-color: white;
	transform: translateX(-50%) scaleX(0);
	transform-origin: center;
	transition: transform 0.35s ease;
	border-radius: 2px;
}

.nav-link:hover::after,
.nav-link.nav-active::after {
	transform: translateX(-50%) scaleX(1);
}




.h1-mask {
	display: block;
	overflow: hidden;
}

.h1-text {
	display: block;
	transform: translateY(120%);
	animation: h1SlideUp 0.9s cubic-bezier(.22,.61,.36,1) forwards;
}

.h1-mask.delay .h1-text {
	animation-delay: 0.25s;
}

.h1-mask.delay2 .h1-text {
	animation-delay: 0.45s;
}

@keyframes h1SlideUp {
	to {
		transform: translateY(0);
	}
}


:root {
    --nav-height: 120px;
}

/** Navegacion Mobile */
#mobile-menu {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.input-label {
    @apply text-marron-tierra uppercase font-bold text-lg
}
.input-field {
    @apply border-marron-tierra border-2 p-2
}

.btn-submit {
    @apply bg-marron-tierra cursor-pointer hover:bg-orange-950;
}

.btn-submit:disabled {
    @apply bg-gray-400 cursor-not-allowed opacity-60 hover:bg-gray-400;
}

.truck-icon {
    animation: truckMove 3s ease-in-out infinite;
}

@keyframes truckMove {
    0% { transform: translateX(0); }
    50% { transform: translateX(6px); }
    100% { transform: translateX(0); }
}

.road {
    width: 80px;
    height: 4px;
    background: repeating-linear-gradient(
        to right,
        white 0,
        white 10px,
        transparent 10px,
        transparent 20px
    );
    animation: roadMove 1s linear infinite;
}

@keyframes roadMove {
    from { background-position: 0 0; }
    to { background-position: 20px 0; }
}